<li class="sampleItem list-group-item">
    <div class="col-xs-12 col-sm-3">
        <img src="<%= icon %>" class="sampleIcon img-responsive img-circle"/>
    </div>
    <div class="col-xs-12 col-sm-9">
        <span class="name"><%= name %></span><br/>
        <div class="samplePreview" data-video="<%= video %>" data-templateBusinessId="<%= templateBusinessId %>" name="<%= preview %>">
            <span style="font-size: 2em; position: relative; top: 5px; left: -3px"
                  class="fa fa-play-circle-o text-muted c-info" data-toggle="tooltip"></span>
            <h4 style="display: inline; position: relative; left: -9px; color: #939393">preview</h4>
        </div>
    </div>
    <div class="clearfix"></div>
</li>